/target/
**/*.rs.bk
config*.yaml
proto/vendor
proto/tmp
tmp/*  
!.gitkeep
.DS_Store
rocksdb
test/*
env
codeship.aes
*.xg
*.gam.index
*.gam
sample/chm1/chm1.pcf
graph-genome-browser-backend
*.zip
*.tar.gz
!sample/*/config.yaml
*.fa.gz
